DATABASE_URL=postgres://postgres:postgres@localhost:5432/krakstack_auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3001,http://localhost:3000
BETTER_AUTH_VALID_AUDIENCES=http://localhost:3001,http://localhost:3000
